.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.inputGroup {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
  text-align: left;
}

.inputField {
  width: calc(50% - 10px); /* 50% Breite minus 10px Abstand */
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
